<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
    <title>AGM CLI</title>
    <organization>com.jaavila</organization>
    <background file="background.png" mime-type="image/png" alignment="bottomleft" scaling="proportional"/>
    <background-darkAqua file="background.png" mime-type="image/png" alignment="bottomleft" scaling="proportional"/>
    <welcome file="welcome.html" mime-type="text/html"/>
    <conclusion file="conclusion.html" mime-type="text/html"/>
    <options customize="never" require-scripts="false" hostArchitectures="x86_64,arm64"/>
    <choices-outline>
        <line choice="default">
            <line choice="com.jaavila.agm"/>
        </line>
    </choices-outline>
    <choice id="default"/>
    <choice id="com.jaavila.agm" visible="false">
        <pkg-ref id="com.jaavila.agm"/>
    </choice>
    <pkg-ref id="com.jaavila.agm" version="__VERSION__" onConclusion="none">agm-component.pkg</pkg-ref>
</installer-gui-script>
